.Button {
  font-size: 0.9rem;
  align-self: center;
  border-radius: 20px;
  padding: 8px 20px;
  margin: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.Button:hover {
  opacity: 0.85;
  cursor: pointer;
}

.Blue,
.Bright:hover {
  background-color: #1e3d8f;
  color: #ffffff;
}

.Black,
.BlackOutline:hover {
  background-color: #333;
  color: #ffffff;
}
