.Button {
    width: 100%;
    font-size: 1rem;
    align-self: center;
    border-radius: 25px;
    border-color: transparent;
    padding: 12px 0;
    margin-top: 15px; /* Możesz dodać odstęp od formularza */
    transition: background-color 0.3s ease, color 0.3s ease;
  }

.Button:hover {
    background-color: #2b2d7a !important;
}

.Wide {
    padding: 12px 60px;
    width: 100%;
}

.Blue,
.BlueOutline,
.Bright {
    background-color: #2b2d7a;
    color: #ffffff;
}

.BlueOutline,
.Blue:hover {
    background-color: #ffffff;
    color: #2b2d7a;
    border: 1px solid #2b2d7a;
}

.Black,
.BlackOutline:hover {
    background-color: #2b2d7a;
    color: #f2f2f2;
}

.Black:hover,
.BlackOutline {
    background-color: #f2f2f2;
    color: #2b2d7a;
}

.Bright {
    background-color: #80d5fa;
    color: #2b2d7a;
}