.Owner {
  font-weight: bold;
  color: #2142b2;
  margin-right: 8px;
}

.Date {
  font-weight: lighter;
  color: #c1c1c5;
}

.Category {
  font-weight: bold;
  color: white;
  background: linear-gradient(45deg, #ff7e5f, #feb47b); /* Gradient */
  padding: 4px 8px; /* Add internal spacing */
  border-radius: 8px; /* Rounded corners */
  display: inline-block; /* Enables better layout */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Shadow for a "wow" effect */
  margin-top: 5px; /* Distance from other elements */
}

.Category:hover {
  background: linear-gradient(45deg, #feb47b, #ff7e5f); /* Hover effect */
  transform: scale(1.05); /* Enlargement on hover */
  transition: all 0.3s ease-in-out; /* Smooth transition */
}
