.NavBar {
  background: linear-gradient(135deg, #6dd5ed, #2193b0);
  border: none;
  padding: 0 10px;
  height: 75px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

.NavBar:hover {
  background: linear-gradient(135deg, #58c0d1, #1a7d91);
}

.NavLogo {
  height: 8cqw;
  max-height: 70px;
  width: auto;
  object-fit: contain;
}

.NavLink {
  margin-left: 10px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
}

.NavLink:hover {
  color: #ffe900;
}

.Active i {
  color: #ffe900;
}

.SearchBar {
  flex-grow: 1;
  max-width: 300px;
  margin-left: 20px;
}
