.Post {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
}

.Post figure,
h5 {
  margin: 0 0;
}

.Heart {
  color: #f85032;
}

.Heart:hover {
  color: #2142b2;
}

.HeartOutline:hover {
  color: #f85032;
}

.Category {
  font-weight: bold;
  color: white;
  background: linear-gradient(45deg, #ff7e5f, #feb47b); /* Gradient */
  padding: 4px 8px; /* Add internal spacing */
  border-radius: 8px; /* Rounded corners */
  display: inline-block; /* Enables better layout */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Shadow for a "wow" effect */
  margin-top: 5px; /* Margin from other elements */
}

.Category:hover {
  background: linear-gradient(45deg, #feb47b, #ff7e5f); /* Hover effect */
  transform: scale(1.05); /* Enlargement on hover */
  transition: all 0.3s ease-in-out; /* Smooth transition */
}
