.Row {
    height: calc(100vh - 81px);
}

.Input {
    background: #f2f2f2;
    border: 1px solid #7a7dbb;
    box-sizing: border-box;
    border-radius: 8px;
    color: #2b2d7a;
    text-align: center;
    padding: 12px;
}

.Header {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #2b2d7a;
}

.Link {
    color: #2b2d7a;
    margin-right: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
  
.Link .fa-icon {
    margin-right: 8px; /* Margines pomiędzy ikoną a tekstem */
}

.Link span {
    color: #80d5fa;
}

.Container {
    padding: 40px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.SignInCol {
    height: 350px;
}

.SignUpCol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.FillerImage {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
}